* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

#lobby {
    z-index: 45;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

#game {
    display: none;
}

canvas {
    display: block;
}

#ui {
    position: fixed;
    z-index: 1;
    width: 224px;
    height: 220px;
    border: 2px orange outset;
    background: yellow;
    border-radius: 5px;
}

#scoreboard {
    position: fixed;
    z-index: 1;
    right: 0;
    width: 224px;
    height: 110px;
    border: 2px orange outset;
    background: yellow;
    border-radius: 5px;
}

#scoreboard-content {
    margin-top: 12px;
}

button {
    border: 2px orange outset;
    background: white;
    color: darkorange;
    border-radius: 5px;
}

button:disabled, button[disabled] {
    background: black;
}

#letterGet {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 200px;
    height: 50px;
}

#turnStatus {
    padding-top: 20px;
    text-align: center;
    color: darkorange;
}

#placeWord {
    position: absolute;
    top: 90px;
    left: 10px;
    width: 95px;
    height: 50px;
}

#wordReset {
    position: absolute;
    top: 90px;
    left: 115px;
    width: 95px;
    height: 50px;
}

#exchangeMode {
    position: absolute;
    top: 150px;
    left: 10px;
    width: 95px;
    height: 50px;
}

#exchange {
    position: absolute;
    top: 150px;
    left: 115px;
    width: 95px;
    height: 50px;
}

#skip {
    position: absolute;
    top: 210px;
    left: 10px;
    width: 200px;
    height: 50px;
}

h3 {
    color: darkorange;
    text-align: center;
}

#overlay {
    z-index: 99;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: none;
}

#overlayMessage {
    position: absolute;
    left: 45%;
    top: 45%;
    color: white;
}