.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

#lobby {
    z-index: 45;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

#game {
    display: none;
}

canvas {
    display: block;
}

#ui {
    position: fixed;
    z-index: 1;
    width: 224px;
    height: 220px;
    border: 2px orange outset;
    background: yellow;
    border-radius: 5px;
}

#hiddenUI {
    display: none;
    position: fixed;
    z-index: 1;
    width: 42px;
    height: 42px;
    border: 2px orange outset;
    background: yellow;
    border-radius: 5px;
}

#hiddenScr {
    display: none;
    position: fixed;
    z-index: 1;
    width: 42px;
    height: 42px;
    border: 2px orange outset;
    background: yellow;
    border-radius: 5px;
    right: 0px;
}

#title {
    text-align: left;
    padding: 10px;
}

#scrTitle {
    text-align: left;
    padding: 10px;
}

#lastMove {
    position: fixed;
    z-index: 1;
    width: 50vw;
    height: 42px;
    line-height: 32px;
    padding: 2px;
    border: 2px orange outset;
    background: yellow;
    border-radius: 5px;
    left: 25vw;
    top: 0;
    color: orange;
    text-align: center;
    font-size: 21px;
    text-transform: uppercase;
    overflow: hidden;
}

.word {
    color: blue;
}

.nickname {
    color: green;
}

#scoreboard {
    position: fixed;
    z-index: 1;
    right: 0;
    width: 224px;
    height: 110px;
    border: 2px orange outset;
    background: yellow;
    border-radius: 5px;
}

#scoreboard-content {
    margin-top: 0px;
}

button {
    border: 2px orange outset;
    background: white;
    color: darkorange;
    border-radius: 5px;
}

button:disabled, button[disabled] {
    background: black;
}

#hideUI {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 20px;
    height: 20px;
    font-weight: bold;
}

#showUI {
    display: none;
    position: absolute;
    top: 9px;
    left: 9px;
    width: 20px;
    height: 20px;
    font-weight: bold;
}

#hideScr {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 20px;
    height: 20px;
    font-weight: bold;
}

#showScr {
    display: none;
    position: absolute;
    top: 9px;
    right: 9px;
    width: 20px;
    height: 20px;
    font-weight: bold;
}

#turnStatus {
    padding-top: 5px;
    text-align: center;
    color: darkorange;
}

#letterGet {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 200px;
    height: 50px;
}

#placeWord {
    position: absolute;
    top: 90px;
    left: 10px;
    width: 95px;
    height: 50px;
}

#wordReset {
    position: absolute;
    top: 90px;
    left: 115px;
    width: 95px;
    height: 50px;
}

#exchangeMode {
    position: absolute;
    top: 150px;
    left: 10px;
    width: 95px;
    height: 50px;
}

#exchange {
    position: absolute;
    top: 150px;
    left: 115px;
    width: 95px;
    height: 50px;
}

#skip {
    position: absolute;
    top: 210px;
    left: 10px;
    width: 200px;
    height: 50px;
}

h3 {
    color: darkorange;
    text-align: center;
}

h2 {
    color: darkorange;
}

#overlay {
    z-index: 99;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: none;
}

#overlayMessage {
    position: absolute;
    left: 45%;
    top: 45%;
    color: white;
}

.tutorialArrow {
    position: fixed;
    z-index: 101;
    width: 120px;
    height: 60px;
}